body{
    font-family: 'Balsamiq Sans';
}
.contenedorPrincipal{
    border: 2px solid rgb(160, 160, 160);
    width: 50%;
}

.header{
    background-color: rgb(4, 160, 160);
    height: 7%;
}
.header > img {
    width: 20%;
    position: relative;
    top: 30px;
    left: 10%;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 50%;
    padding: 1%;
    background-color: white;
}
.tarjetaInformacion{
    margin-top: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
}

.iconoUbicacion {
    width: 5%;
    padding: 1%;
}

.iconoConfiguracion{
    width: 5%;
    padding: 1%;
}

.ciudad, .linkEditar{
    vertical-align: 7%;
}
.skillset{
    margin-bottom: 3%;
}
.tituloUniversitario{
    margin-top: 0;
}